<section class="section">
    <div class="container section-header">
        <div class="bg-white rounded shadow-7 p-6">
            <h3>Employee Records</h3>
            <hr>
            <form>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" style="padding-top:11px !important;">Search Records</button>
                            </span>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>